<header class="bg-black text-white p-6 flex justify-between items-center">
  <div class="logo flex items-center">
    <img src="/assets/logo.png" alt="Logo Autoreserve" class="h-20 mr-2 rounded-full">
    <h1 class="text-5xl">AUTORESERVE</h1>
  </div>
  <div class="actions flex space-x-4">
    <!-- Icono de Casa -->
    <!-- <button (click)="navigateToHome()" class="text-white flex items-center">
      <img src="/assets/home-icon.png" alt="Home" class="h-12">
    </button> -->
    <!-- Icono de Salida -->
    <button (click)="logout()" class="text-white flex items-center">
      <img src="/assets/logout-icon.png" alt="Logout" class="h-12">
    </button>
  </div>
</header>
